<div class="homepage container-fluid">
    <div class="section row teaser" data-scroll="home">
        <div class="col-12 teaser-col col-xl-6 white-on-blue d-flex align-items-center justify-content-xl-end">
            <div class="ml-md-auto mr-md-auto">
                <h1 data-aos="fade-left">Aha</h1>
                <p data-aos="fade-right">Post an idea. See what the world thinks.</p>
            </div>
        </div>
        <div class="col-12 teaser-col col-xl-6 bg-white blue-on-white d-flex align-items-center">
            <div class="w-100" data-aos="fade-left">
                <p class="text-center text-xl-left">Get early access and earn AHA tokens.</p>
                <div class="alpha-form-up"></div>
            </div>
        </div>
    </div>
    <div class="row blue-on-white">
        <div id="js-slider" class="col-12 p-0">

        </div>
    </div>
    <div class="section row white-on-blue" data-scroll="about">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="infomration-block">
                <div class="row">
                    <div class="col-12 infomration-head">
                        <h2 data-aos="fade-right">A social network for idea people</h2>
                        <p data-aos="fade-left">Aha is the world's first blockchain-powered idea economy, allowing you to earn and spend AHA
                            tokens by posting, sharing and supporting good ideas.</p>
                    </div>
                    <div class="col-12 col-xl-4 infomration-col" data-aos="fade-up">
                        <div class="ico">
                            <i class="fas fa-lightbulb"></i>
                        </div>
                        <p>Post an idea and let the world show you its potential. Draw comments, spark questions, push
                            your idea forward.</p>
                    </div>
                    <div class="col-12 col-xl-4 infomration-col" data-aos="fade-down">
                        <div class="ico">
                            <i class="fas fa-users"></i>
                        </div>
                        <p>Join a global network of creative thinkers and doers, and get inspired to bring good ideas
                            into the world.</p>
                    </div>
                    <div class="col-12 col-xl-4 infomration-col" data-aos="fade-up">
                        <div class="ico">
                            <i class="fas fa-wallet"></i>
                        </div>
                        <p>Earn and spend AHA tokens when you post, share or support ideas that are valued by the
                            community.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row blue-on-white">
        <div class="col-12 p-0 team">
            <div class="team-block">
                <div class="img">
                    <img src="/images/devteam.png" alt="">
                </div>
                <div>
                    <div class="team-member" data-target=".team-description.lukas"></div>
                    <div class="team-member" data-target=".team-description.dave"></div>
                </div>
                <div>
                    <div class="team-description lukas">
                        <p>Head of Development / Lead Problem Solver / Creator of Unmaintainable Code / Technology Enthusiast</p>
                    </div>
                    <div class="team-description dave">
                        <p>Founder / Designer of Confirmation Emails and Pop Up Windows / Avid Miniature Plant Collector</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section row white-on-blue" data-scroll="contact">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="contact">
                <div class="contact-head">
                    <h2 data-aos="fade-right">We'd love to hear what's on your mind.</h2>
                    <div class="social d-flex justify-content-around" data-aos="fade-left">
                        <a href="https://twitter.com/theahaapp" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://t.me/theahaapp" target="_blank">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                        <a href="mailto:hello@ahaapp.io">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>
                </div>
                <div class="contact-body text-center" data-aos="fade-up">
                    <p>Sign up for early access and earn free tokens!</p>
                    <div class="alpha-form-down"></div>
                </div>
            </div>
        </div>
    </div>
</div>