<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-12 content teaser">
            <img src="/images/bulb.jpeg" class="bulb mb-4" alt="">
            <h1 class="text-center mb-0">aha</h1>
            <p class="mb-5">Post an idea. See what the world thinks.</p>
            <div class="text-center j-countdown countdown"></div>
            <div class="text-center mb-4 mt-2">
                <span class="small">coming soon</span>
            </div>
            <form action="/alpha/signup" method="post" class="mt-4 text-center">
                <div class="form-group">
                    <input type="text" name="email" placeholder="email" class="p-2">
                    <input type="submit" class="btn" value="notify me">
                </div>
                <span class="j-message message"></span>
            </form>
        </div>
    </div>
    <div class="row bg-yellow pt-5">
        <div class="col-12 content mb-5">
            <h3 class="text-center mt-5 mb-5">The social network for idea people</h3>
            <p>Everyone has ideas - that's the easy part. The hard part is what comes next. Aha is all about getting the
                idea out of your head and into the world. We're building a decentralized, ad-free and secure social network
                for idea people. Aha is the world's first blockchain-powered idea economy, allowing users to earn and spend
                AHA tokens by posting, sharing and supporting good ideas.</p>
            <div class="row cards justify-content-center pt-5 mt-2 mb-5">
                <div class="col-12 col-sm-6 col-lg-4 card">
                    <div class="card-ico">
                        <i class="fas fa-lightbulb"></i>
                    </div>
                    <div class="card-body">
                        <p>Post an idea and let the world show you its potential. Draw comments, spark questions, push your
                            idea forward.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 card">
                    <div class="card-ico">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="card-body">
                        <p>Join a global network of creative thinkers and doers, and get inspired to bring good ideas into
                            the world.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 card">
                    <div class="card-ico">
                        <i class="fas fa-wallet"></i>
                    </div>
                    <div class="card-body">
                        <p>Earn and spend AHA tokens when you post, share or support ideas that are valued by the community.</p>
                    </div>
                </div>
                <div class="col-12 social text-center">
                    <div>
                        <a href="https://twitter.com/theahaapp">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://t.me/theahaapp">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </div>
                    <span>All rights reserved. Aha 2018</span>
                </div>
            </div>
        </div>
    </div>
</div>