<!DOCTYPE html>
<html>
  <head>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/bundle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Aha</title>
  </head>

  <body class="gray-background">
    <%- body %>

    <!--SCRIPTS-->
    <!--SCRIPTS END-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/innerapp.js" type="text/javascript"></script>
  </body>
</html>