<!DOCTYPE html>
<html>
  <head>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/bundle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Aha</title>
  </head>

  <body>
    <header class="navbar outer position-static">
      <a class="navbar-brand" href="/">
        <img src="/images/feed.white.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
      <div class="dropdown <%= req.path != '/' ? 'not-homepage' : ''%>">
        <div class="dropdown-toggle">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="dropdown-menu">
          <a class="dropdown-item" href="/">home</a>
          <a class="dropdown-item" href="/?scrollto=about">about</a>
          <a class="dropdown-item" href="/?scrollto=contact">contact</a>
          <% if ( req.path != "/signup") {%>
            <a class="dropdown-item" href="/signup">sign up</a>
          <%}%>
          <% if (req.path != "/signin") {%>
            <a class="dropdown-item" href="/signin">sign in</a>
          <%}%>
        </nav>
      </div>
      <nav class="nav d-none d-lg-block">
       
      </nav>
    </header>
    <%- body %>
    <footer>Copyright © Aha 2018. All rights reserved</footer>

    <!--SCRIPTS-->
    <!--SCRIPTS END-->
    <script src="/js/outerapp.js" type="text/javascript"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        startEvent: 'DOMContentLoaded', 
        duration: 800,
        easing: 'ease'
      });
    </script>
  </body>
</html>
