.card {
    display: inline-block;
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    &.info {
        width: auto;
        position: sticky;
        top: 12rem;
        &:empty {
            opacity: 0;
        }
    }
}
.card-img {
    img {
        max-width: 100%;
        max-height: 100%;
    }
}