.comment {
    min-height: 8rem;
    padding: 0.75rem;
    //padding-bottom: 0;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:nth-child(2n+2) {
        background-color: #ffffff;
    }

    &-image {
        flex-shrink: 0;
        flex-grow: 0;
        height: 5.33rem;
        width: 4rem;
        margin-right: 0.5rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-head {
        .username {
            cursor: pointer;
            text-decoration: none !important;
            color: #50b6e3 !important;
            font-size: 1rem;
            font-weight: 600;
            &:hover {
                text-decoration: underline !important;
            }
        }
        .time {
            font-size: 1rem;
            font-weight: 600;
            color: #4a4a4a;
            margin-right: 0.5rem;
        }
    }

    &-body {
        flex-shrink: 1;
        flex-grow: 1;
        max-width: 100%;
        p {
            font-weight: 400;
            font-size: 1rem;
            color: #9b9b9b;
            max-width: 100%;
            a.user {
                text-decoration: none !important;
                color: #50b6e3 !important;
                &:hover {
                    text-decoration: underline !important;
                }
            }
            a.user + a.user  {
                padding-left: 0.5rem;
            }
        }
    }
    &-footer {
        align-self: flex-end;
        i {
            cursor: pointer;
            font-size: 1.25rem;
        }
    }

    &-attachedimage {
        width: 100%;
        margin-top: 0.5rem;
        img {
            max-width: 100%;
            max-height: 26rem;
            object-fit: contain;
        }
    }
}