.file-upload {
    .label {
        cursor: pointer;
        display: inline-block;
    }
    .file-selector {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        cursor: pointer;
    }

    .preview {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
        .far {
            font-size: 5rem;
            margin-bottom: 0.5rem;
        }
        span {
            text-align: center;
            div {
                text-align: center;
                word-break: break-word;
            }
        }
    }
}