footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #4a4a4a;
    padding: 2rem;
}