.header-profile {
    &-link {
        .profile-picture {
            border: 1px solid #50b6e3;
            width: 2.6rem;
            height: 3.5rem;
            margin-right: 1rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:empty {
                background-image: url("/images/image-placeholder.png");
                background-size: 100% 100%;
            }
        }

        .profile-detail {
            .nickname {
                font-size: 1rem;
                font-weight: 600;
                color: #000000;
                &:before {
                    content: '@';
                    display: inline-block;
                }
            }
            .balance {
                font-weight: 600;
                font-size: 1rem;
                text-transform: uppercase;
                color: #50b6e3;
                &:after {
                    margin-left: 0.5rem;
                    content: ' AHA';
                    display: inline-block;
                }
            }
        }
    }
}