.hinter {
    text-align: right;
    bottom: -0.75rem;
    right: 1.5rem;
    .fas {
        color: #9b9b9b;
        font-size: 1rem;
    }
    .message {
        display: none;
        top: 1.5rem;
        right: 0;
        padding: 1rem;
        background-color: #ffffff;
        box-shadow: 0 1px 10px #d8d8d8;
        color: #000000;
    }

    &:hover {
        .message {
            display: block;
        }
    }
}