.section {
    @include media-breakpoint-up(xl) {
        min-height: 80vh;
    }
}
.app {
    .homepage {
        overflow-x: initial;
    }
}
.homepage {
    overflow-x: hidden;
    .teaser {
        &-col {
            padding: 7rem 2rem 5rem;
            @include media-breakpoint-up(md) {
                padding: 10rem 2rem;
            }
            @include media-breakpoint-up(xl) {
                padding: 10rem 2rem 20rem;
                // &:first-child {
                //     padding-right: 20rem;
                // }
                &:last-child {
                    padding-left: 10vw;
                }
            }
            &.border {
                border-bottom: 1px solid #d8d8d8;
            }
        }
        h1 {
            font-size: 2.5rem;
            font-weight: 400;
            padding: 0;
            margin: 0;
            padding-left: 4rem;
            @include media-breakpoint-up(md) {
                font-size: 4rem;
            }
            @include media-breakpoint-up(xl) {
                font-size: 3rem;
                padding-left: 0;
            }
        }
        p {
            font-weight: 400;
            font-size: 1rem;
            padding: 0;
            margin: 0;
            margin-bottom: 1rem;
            @include media-breakpoint-up(md) {
                font-size: 2rem;
            }
            @include media-breakpoint-up(xl) {
                font-size: 1.25rem;
            }
        }
    }
}

.alpha-form {
    input[type='email'] {
        border: 2px solid #50b6e3;
        border-radius: 24px;
        color: #50b6e3;
        font-weight: 400;
        font-size: 1;
        padding: 0.5rem 1rem;
        width: 100%;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: #50b6e3;
        }
        margin-bottom: 0.5rem;
        @include media-breakpoint-up(md) {
            max-width: 20rem;
            margin-right: 2rem;  
            font-size: 1.25rem;
        }
    }
    input[type='submit'] {
        border-radius: 24px;
        font-weight: 400;
        float: right;
        @include media-breakpoint-up(md) {
            float: none;
            align-self: flex-start;
            margin-top: 0;
            font-size: 1.25rem;
        }
    }
}

.infomration {
    &-block {
        max-width: 75rem;
        text-align: center;
        padding: 5rem 1rem;
    }
    &-head {
        h2 {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 2.5rem;
            @include media-breakpoint-up(md) {
                font-size: 2rem;
            }
        }
        p {
            font-size: 1rem;
            font-weight: 400;
            max-width: 54rem;
            margin: 0 auto;
            text-align: justify;
            @include media-breakpoint-up(md) {
                font-size: 1.5rem;
            }
            @include media-breakpoint-up(xl) {
                font-weight: 600;
                font-size: 1.25rem;
            }
        }
        margin-bottom: 5rem;
    }
    &-col {
        .ico {
            text-align: center;
            font-size: 4rem;
            margin-bottom: 1rem;
            @include media-breakpoint-up(md) {
                font-size: 5rem;
            }
            @include media-breakpoint-up(xl) {
                font-size: 3rem; 
            }
        }
        p {
            text-align: justify;
            font-weight: 400;
            font-size: 1rem;
            padding: 2rem 0rem;
            @include media-breakpoint-up(md) {
                font-size: 1.5rem;
                padding: 2rem 5rem;
            }
            @include media-breakpoint-up(xl) {
                font-size: 1rem;
                font-weight: 600;
                padding: 2rem;
            }
        }
    }
}

.contact {
    max-width: 75rem;
    &-head {
        h2 {
            font-weight: 600;
            font-size: 3rem;
        }
        a {
            color: #fff !important;
        }   
    }
    &-body {

    }
}

.slider {
    width: 100%;
    overflow: hidden;
    min-height: 660px;
    &-slides {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img {
            width: 100%;
            min-width: 1400px;
            margin-right: -140px;
            @include media-breakpoint-up(sm) {
                margin-right: -60px;
            }
            @include media-breakpoint-up(md) {
                margin-right: -40px;
            }
            @include media-breakpoint-up(lg) {
                margin-right: -20px;
            }
            @include media-breakpoint-up(lg) {
                margin-right: 0px;
            }
        }
    }

    .loader {
        height: 100%;
    }
}

.team {
    &-block {
        position: relative;
        .img {
            max-height: 80rem;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
    }
    &-member {
        position: absolute;
        &:nth-child(1) {
            cursor: pointer;
            top: 3vw;
            left: 17vw;
            width: 23vw;
            height: 26vw;
        }
        &:nth-child(2) {
            cursor: pointer;
            top: 4vw;
            right: 19vw;
            width: 22vw;
            height: 26vw;
        }
    }
    &-description {
        padding: 1rem;
        padding-bottom: 0;
        display: none;
        position: absolute;
        background-color: #ffffff;
        color: #4a4a4a;
        font-size: 1rem;
        font-weight: 400;
        z-index: 10;

        //mobile
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 90vw;
        top: 50%;

        //tablet
        @include media-breakpoint-up(md) {
            width: auto;
            max-width: 50vw;
            left: 10%;
            transform: none;
            top: 38vw;
            &:nth-child(2) {
                left: auto;
                right: 5%;
            }
        }
        //dekstop
        @include media-breakpoint-up(xl) {
            max-width: 33vw;
        }
    }
}

.contact {
    padding: 5rem 0 10rem;
    @include media-breakpoint-up(md) {
        padding: 10rem 0 20rem;
    }
    &-head {
        h2 {
            font-weight: 600;
            color: #ffffff;
            font-size: 1rem;
            text-align: center;
            @include media-breakpoint-up(md) {
                font-weight: 600;
                font-size: 1.75rem;
            }
            @include media-breakpoint-up(xl) {
                font-size: 2rem;
            }
        }

        .social {
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            font-size: 2rem;
            @include media-breakpoint-up(md) {
                margin-top: 4rem;
                margin-bottom: 6rem;
                font-size: 2.5rem;
            }
            @include media-breakpoint-up(xl) {
                margin-top: 5rem;
                margin-bottom: 5rem;
                font-size: 2.5rem;
            }
        }
    }
    &-body {
        p {
            font-weight: 400;
            font-size: 1rem;
        }
        form {
            input[type='email'] {
                border: 2px solid #ffffff;
                background-color: transparent;
                color: #50b6e3;
                &::placeholder {
                    color: white;
                }
            }
        }
    }
}