.image-editor-wrap {
    border: 1px solid #d8d8d8;
    border-radius: 1rem;
    overflow: hidden;
    
    width: 100%;
    padding-top: 133.33%;
    position: relative;

    img {
        opacity: 0.7;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.image-editor  {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    canvas {
        height: 100%;
        width: 100%;
        cursor: grab;
    }

    &-controls {
        position: absolute;
        top: 0;
        right: 0;
    }

    &-control {
        cursor: pointer;
        background-color: white;
        padding: 0.25rem 0.5rem;
        border: 1px solid #d8d8d8;
        &:active {
            box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.2) !important
        }
    }
}