.interest-selector {
    position: relative;
    min-height: 10rem;
    padding-bottom: 3rem;
    &:empty {
        &:after {
            position: absolute;
            bottom: 50%;
            right: 50%;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 0.5rem solid #e4e4e4;
            border-top-color: #c2c2c2;
            animation:spin 4s linear infinite;
    
            display: block;
            content: '';
        }
    }
    
}

.interest-box {
    display: flex;

    padding-bottom: 1rem;
    padding-top: 1rem;

    .interest {
        border: 1px solid #d8d8d8;
        border-radius: 1rem;
        color: #000;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        text-align: center;

        width: 100%;
        max-width: 10rem;
        padding: 1rem;

        &:hover {
            background-color: #89c6e0;
        }

        &.has-error {
            border-color: #f54623;
        }

        &.selected {
            background-color: #50b6e3;
            color: #fff;
            border-color: #d8d8d8;
        }

        i {
            font-size: 1.5rem;
            padding-bottom: 0.5rem;
        }

        .interest-label {
            text-align: center;
            font-size: 1rem;
            font-weight: 600;
        }
    }

    &:nth-child(3n+1) {
        .interest {
            margin-right: auto;
        }
    }
    &:nth-child(3n+2) {
        .interest {
            margin-right: auto;
            margin-left: auto;
        }
    }
    &:nth-child(3n+3) {
        .interest {
            margin-left: auto;
        }
    }
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
