.like-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .circle {
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid #000000;
    }
    .count {
        font-size: 1rem;
        font-weight: 600;
        padding-left: 1rem;
    }

    &.enabled {
        .circle {
            background-color: #50b6e3;
            cursor: pointer;
        }
    }
}