.list-filter {
    position: relative;
    width: 13rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    &-selected {
        width: 100%;
        padding-left: 2rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.25rem;
        color: #50b6e3;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        .fas {
            margin-left: auto;
            font-size: 2rem;
        }
    }
    &.reversed {
        .list-filter-selected {
            padding-left: 1rem;
            padding-right: 2rem;
            text-align: right;
            i {
                float: left;
            }
        }
        .list-filter-selector {
            left: auto;
            right: 0;
            &-item {
                text-align: right;
            }
        }
    }
    &-selector {
        width: 100%;
        z-index: 20;
        position: absolute;
        left: 0;    
        top: 3.25rem;
        border: 1px solid #d8d8d8;
        background-color: #ffffff;
        box-shadow: 0 1px 4px #d8d8d8;
        &-item {
            display: block;
            color: #50b6e3;
            padding: 0.5rem 2rem;
            cursor: pointer;
            font-size: 1.25rem;
            &:hover {
                color: #ffffff;
                background-color: #d8d8d8;
            }
        }
    }
    .popup-curtain {
        z-index: 10;
    }
}