
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 1px solid #d8d8d8;

    display: flex;
    align-items: center;
    &.inapp {
        border: none !important;
        background-color: #50b6e3;
        a i{
            color: white !important;
            &:hover {
                color: #D8D8D8 !important;
            }
        }
        .dropdown-toggle i{
            color: white !important;
            &:hover {
                color: #D8D8D8 !important;
            }
        }
        .notification-count {
            color: white !important;
            font-weight: 600;
        }
        .searchbar {
            .searchbar-button {
                color: #50b6e3;
            }
            input {
                background-color: white;
            }
        }
        .nickname, .balance {
            color: white !important;
        }
        .profile-picture {
            border-color: white !important;
        }
    }
    &.outer {
        background-color: #50b6e3;
        padding: 0;
        border: none;
        .navbar-brand {
            width: 50%;
            margin: 0;
            padding: 1.5rem;
            padding-right: 0;
            img {
                width: 2rem;
                height: 2rem;
            }
        }
        .dropdown {
            width: 50%;
            padding: 1.5rem;
            padding-left: 0;
            @include media-breakpoint-up(xl) {
                background-color: white;
            }
            .dropdown-toggle {
                float: right;
                i {
                    color: white;
                    @include media-breakpoint-up(xl) {
                        color: #50b6e3;
                    }
                }
            }
            &.not-homepage {
                background-color: #50b6e3 !important;
                .dropdown-toggle {
                    i {
                        color: white !important;
                    }
                }
            }
            .dropdown-menu {
                top: 4rem;
                display: none;
            }
            &:hover, &:focus, &:active {
                .dropdown-menu {
                    display: block;
                }
            }
        }
    }
}

.nav {
    display: block;
}

.nav-link {
    display: inline-block;
    color: #50b6e3;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 3rem;
    &.active {
        color: #000;
    }
    &:hover {
        color: #000;
    }
}

.navbar-brand {
    margin-left: auto;
    padding: 0;
    img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
    }
}

.app {
    .navbar {
        padding: 0.5rem 1rem;
    }
    .nav-link {
        color: #000000;
        padding: 1rem 2rem;
        &.active {
            color: #50b6e3
        }
        &:hover {
            color: #50b6e3;
        }
    }
    .navbar-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin: 0;
        img {
            width: 2.25rem;
            height: 2.25rem;
        }
        .idle {
            display: block;
        }
        .hover {
            display: none;
        }
        &:hover {
            .idle {
                display: none;
            }
            .hover {
                display: block;
            }
        }
    }
    .nav {
        padding-left: 15px;
    }
    a {
        cursor: pointer;
        i {
            color: #50b6e3;
            font-size: 2rem;
        }
        &:hover {
            i {
                color: #D8D8D8;
            }
        }
    }
}

.dropdown {
    .dropdown-toggle {
        cursor: pointer;
        &::after {
            content: none;
        }
        i {
            color: #50b6e3;
            font-size: 2rem;
        }
        &:hover {
            i {
                color: #D8D8D8;
            }
        }
    }
    .dropdown-menu {
        display: block;
        position: fixed;
        right: 0;
        left: auto;
        top: 4.5rem;
        background-color: #ffffff;
        box-shadow: 0 1px 10px #e4e4e4;
        border: none;
        text-align: center;
        min-width: 9rem;
        padding: 1rem 0;
        border-radius: 0;
        .dropdown-item {
            font-weight: 600;
            font-size: 1rem;
            color: #50b6e3;
            text-decoration: none !important;
            background-color: #ffffff;
            padding: .5rem 1.5rem;
            &:visited {
                color: #50b6e3;
            }
            &:hover, &:active {
                background-color: #ffffff;
                color: #9b9b9b;
            }
        }
    }
}