.popup {
    &-curtain {
        position: fixed;
        background-color: rgba(216, 216, 216, 0.9);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    background-color: #ffffff;

    &-header {
        display: flex;
        border-bottom: 1px solid #979797;
        justify-content: space-between;
        padding: 1.5rem 2rem;
        &-title {
            font-weight: 600;
            font-size: 1.5rem;
            margin-bottom: 0;
        }
        &-close {
            display: flex;
            align-items: center;
            margin-left: 2rem;
            cursor: pointer;
        }
    }
    &-body {
        padding: 2rem 2rem 0 2rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
        max-height: 25rem;
        text-justify: auto;
        overflow: auto;
    }
}

.terms {
    width: 100%;
    max-width: 37.5rem;
}