.post-detail {
    .col-posts {
        &:nth-child(2) {
            padding-left: 0;
        }
    }
    .card {
        max-width: 100%;
        padding: 0;
        margin: 0;
        &.image {
            float: right;
            width: auto;
            padding: 1rem;
        }

        .card-header {
            padding: 1rem !important;
            padding-bottom: 2rem !important;
            margin-bottom: 2rem !important;
            border-bottom: 1px solid #e4e4e4 !important;
            .img {
                height: 6.25rem !important;
                width: 4.68rem !important  ;
            }
            .username {
                padding-top: 0.5rem;
                font-size: 1.25rem;
                font-weight: 600;
            }
            .card-title {
                padding-top: 0.5rem;
                font-size: 1.55rem;
            }
            .card-date {
                font-size: 1.25rem;
                font-weight: 400;
                color: #9b9b9b;
            }
        }
        .card-body {
            padding: 0 1rem !important;
        }
        .card-footer {
            padding: 1rem !important;
            padding-top: 0 !important;
            margin: 0;
            .comment-button {
                flex: 1 1 33%;
            }
            .share-button {
                flex: 1 1 33%;
            }
            .like-button {
                flex: 1 1 33%;
                justify-content: flex-start;
            }
        }
    }
}