.post {
    position: relative;
    text-decoration: none !important;
    &.loader {
        min-height: 20rem;
        &:after {
            bottom: 44%;
            right: 44%;
        }
    }
    &.hover {
        .card-title {
            text-decoration: underline !important;
        }
    }

    &.card {
        box-shadow: 0 1px 20px #d8d8d8;
        margin-bottom: 1.5rem ;
        .card-header, .card-footer {
            background-color: #ffffff;
            border: none;
            padding: 0;
        }
        .card-header, .card-body, .card-img {
            margin-bottom: 1.5rem;
        }
        .card-header {
            .img + .info {
                padding-top: 0.5rem;
            }
            .img {
                width: 2.6rem;
                height: 3.5rem;
                margin-right: 1rem;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .profile {
                text-decoration: none;
                color: #000000;
                &:hover {
                    .username {
                        text-decoration: underline;
                    }
                }
            }
        }
        .card-title {
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
            font-weight: 600;
            color: #000000;
            text-align: right;
        }
        
        .card-date {
            font-size: 1.25rem;
            font-weight: 400;
            color: #9b9b9b;
        }
        .card-footer {
            margin-bottom: -0.5rem;
            display: flex;
            .comment-button {
                flex: 1 1 25%;
                font-size: 1rem;
                font-weight: 600;
                display: flex;
                align-items: center;
                i {
                    font-size: 1.5rem;
                }
                .count {
                    font-size: 1rem;
                    font-weight: 600;
                    padding-left: 1rem;
                }
            }
            .share-button {
                flex: 1 1 25%;
                font-size: 1rem;
                font-weight: 600;
                display: flex;
                align-items: center;
                i {
                    font-size: 1.5rem;
                }
            }
            .like-button {
                flex: 1 1 50%;
            }
        }
        .card-body {
            padding: 0;
        }
        .card-img {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #d8d8d8;
            border-radius: 0.5rem;
            background-color: rgba(240, 240, 240, 0.8);
            min-height: 15rem;
            max-height: 40rem;
            img {
                max-width: 100%;
                max-height: 100%;
            }
            .card-file {
                text-decoration: none !important;
                text-align: center;
                color: #9b9b9b !important;
                font-size: 1rem;
                .far {
                    font-size: 5rem;
                    margin-bottom: 0.5rem;
                }
                div {
                    font-weight: 600;
                    text-align: center;
                    word-break: break-word;
                }
            }
        }
    }
    &.no-content {
        display: block;
        font-weight: 700;
        font-size: 1.25rem;
        color: #9b9b9b;
        text-align: center;
        padding-top: 10rem;
    }

    &-comments {
        margin-bottom: 1rem !important;
        &-add {
            margin-bottom: 1rem !important;   
            padding: 1rem !important;

            textarea, [contentEditable=true] {
                height: 10rem !important;
                border-radius: 0;
                box-shadow: none !important;
                border: 1px solid #e4e4e4 !important;
                padding: 1rem 1.5rem !important;
                &::placeholder {
                    color: #9b9b9b;
                }
            }
            input[type='submit'] {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                border-width: 1;
            }

            
        
            .file-upload {
                cursor: pointer;
                font-weight: 400;
                font-size: 1rem;
                color: #50b6e3;
                position: relative;
                i {
                    font-size: 1.5rem;
                    padding-right: 1rem;
                    padding-left: 1rem;
                }

                .label {
                    text-align: left !important;
                }

                &.opened {
                    width: 100%;
                    padding-left: 0;
                    .label {
                        position: absolute !important;
                        z-index: -10;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }
                    .preview {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #e4e4e4;
                        img {
                            max-height: 26rem;
                        }
                        margin-bottom: 1rem;
                    }
                }

            }
        }
    }
}

.post-popup {
    position: absolute;
    top: 9.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 42rem;
    background-color: #fff;
    box-shadow: 0 1px 1px #d8d8d8;
    padding: 1rem;
    .form-group {
        margin: 0;
    }
    .form-control {
        box-shadow: none !important;
        border: 1px solid #e4e4e4 !important;
        background-color: #ffffff;
        border-radius: 0;
        color: #000000;
        font-weight: 400;
        padding: 1rem !important;
        
        &::placeholder {
            color: #50b6e3;
        }
    }

    textarea.form-control {
        resize: none;
        height: 10rem !important;
    }

    .category-selector {
        flex: 0 0 50%;
        align-self: flex-start;
        max-width: 50%;
    }

    .file-upload {
        flex: 0 0 50%;
        max-width: 50%;
        
        .label {
            background-color: #fff;
            color: #50b6e3;
            padding: 0.75rem 1rem;
            cursor: pointer;
            display: inline-block;
            text-align: left !important;
            border: 1px solid #e4e4e4;
            span {
                white-space: nowrap;
            }
            i {
                margin-right: 0.5rem;
                font-size: 1.25rem;
            }
        }
        .file-selector {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            overflow: hidden;
            opacity: 0;
            cursor: pointer;
        }

        .preview {
            width: 100%;
            height: 19rem;
            background-color: #ffffff;
            border: 1px solid #e4e4e4;
            font-weight: 400;
            font-size: 1rem;
            color: #9b9b9b;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
            .far {
                font-size: 5rem;
                margin-bottom: 0.5rem;
            }
            span {
                text-align: center;
                padding-left: 1rem;
                padding-right: 1rem;
                div {
                    font-weight: 600;
                    text-align: center;
                    word-break: break-word;
                }
            }
        }
    }
    .submit-button {
        flex: 0 0 100%;
        margin-top: 1rem;
        .btn {
            float: right;
            padding: 0.5rem 1.5rem;
        }
    }
}