.profile-pic-uploader {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    input[type='file'] {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
    }
    .label {
        font-weight: 600;
        font-size: 1rem;
        color: #000000;
    }
    .fas {
        margin-right: 1rem;
        font-size: 1.5rem;
    }
}