.profile-detail {
    max-width: 14rem;
    &.unrestricted {
        max-width: none;
    }
    .profile-picture {
        width: 14rem;
        height: 18.62rem;
        border: 1px solid #d8d8d8;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .fullname {
        font-weight: 700;
        font-size: 1.25rem;
        color: #4a4a4a;
        padding-top: 0.5rem;
        margin-bottom: 0;
    }
    .location {
        padding-top: 0.5rem;
    }
    .block {
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        &:last-child {
            border: none;
            padding: 0;
            margin: 0;
        }
    }
    .description {
        font-size: 1rem;
        font-weight: 400;
        color: #4a4a4a;
        white-space: normal;
        text-align: justify;
    }

    .btn {
        font-weight: 700 !important;
        font-size: 1.25rem !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        padding: 0.25rem 1rem !important;
    }
}