.searchbar {
    height: 3.5rem;
    max-width: 25rem;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 1.75rem;
    position: relative;
    overflow: hidden;

    input[type='text'] {
        font-size: 1rem;
        font-weight: 600;
        color: #000;
        border: none !important;
        width: 100%;
        height: 100%;
        background-color: transparent;
        padding-left: 2rem;
        padding-right: 4rem;
        &:focus {
            outline: none;
        }
        &::placeholder {
            font-weight: 600;
            color: #000;
        }
    }

    button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: transparent;
        border: none;
        width: 4rem;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:hover {
            color: #D8D8D8;
        }
    }
}