.search-results {
    display: flex;
    flex-wrap: wrap;

    .search-result {
        flex: 0 1 50%;
        padding-bottom: 0.75rem;

        &:nth-child(2n + 1) {
            padding-right: 0.75rem;
        }
        &:nth-child(2n + 2) {
            padding-left: 0.75rem;
        }

        .card {
            height: 100%;
            padding: 1rem;
            padding-right: 1.5rem;
            box-shadow: 0 1px 5px #9b9b9b;
            display: flex;
            flex-direction: row;
            .card-img {
                margin-right: 1rem;
                width: 5.25rem;
                flex-shrink: 0;
                text-align: center;
                img {
                    max-width: 100%;
                    max-height: 7.5rem;
                }
            }
            .card-file {
                color: #50b6e3;
                font-size: 3rem;
                text-align: center;
            }
            .card-header {
                padding: 0;
                background-color: #fff;
                border-bottom: none;
                display: flex;
                flex-wrap: wrap;
            }
            p {
                color: #9b9b9b;
                font-weight: 400;
                font-size: 1rem;
                padding: 0;
                margin: 0;
            }
            .card-body {
                padding: 0;
            }
            .comment-button, .like-button {
                margin-bottom: 0.5rem;
            }
        }
        &-post {
            &:hover {
                text-decoration: none !important;
            }

            .card-header {
                .comment-button {
                    i {
                        font-size: 1rem;
                    }
                    color: black !important;
                }
                .like-button {
                    i {
                        font-size: 1rem;
                    }
                    color: black !important;
                }
                h5 {
                    width: 100%;
                    color: #000000;
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 0;
                    margin-bottom: 0.5rem;
                }
            }
        }

        &-user {
            &:hover {
                text-decoration: none !important;
            }
            text-align: right;
            .card-img {
                width: 5.25rem;
                height: 7rem;
                img {
                    width: 100%;
                    height: 100%;
                }

            }
            .card-header {
                h5 {
                    text-align: right;
                    color: #000000;
                    font-size: 1.25rem;
                    font-weight: 600;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                }
                p {
                    width: 100%;
                }
            }
            p.card-username {
                color: #50b6e3 ;
                font-weight: 400;
                font-size: 1rem;
                margin-bottom: 0.125rem;
            }
            .btn {
                margin-top: 0.5rem;
            }
        }
    }
}