.signup {
    .outer-text {
        font-size: 1.5rem;
        color: #ffffff;
        font-weight: 600;
    }

    .empty {
        height: 1.5rem;
    }
    
    &.centered {
        margin-top: 7rem;
        margin-bottom: 8rem;
    }

    &-back {
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        max-width: 42rem;
        margin-bottom: 1.5rem;
        .fas {
            font-size: 2rem;
            padding-right: 0.5rem;
        }
    }

    &-counter {
        margin-top: 5rem;
        max-width: 42rem;
    }


    &-table {
        width: 100%;
        margin: 2rem 0;

        label {
            margin: 0;
        }

        tr {
            td {
                padding: 1rem 1.5rem;
            }
            td {
                &:first-child {
                    border-right: 1px solid #d8d8d8;
                    width: 30%;
                    color: #000000;
                    font-size: 1rem;
                    font-weight: 600;
                    text-align: right;
                }
                &:last-child {
                    width: 70%;   
                }
            }
        }
    }

    h1 {
        color: #000000;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .fullname {
        font-weight: 600;
        font-size: 1.5rem;
        color: #50b6e3;
    }
}