.signin {
    &.centered {
        margin-top: 10rem;
        margin-bottom: 2.5rem;
    }
    
    .alter-signin {
        border-right: 1px solid #d8d8d8;
    }

    .inner-box {
        padding: 1rem 1.5rem;
    }
    input {
        margin-bottom: 0.5rem;
    }
    h1 {
        color: #000000;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 2rem;
    }
    .panel {
        padding-bottom: 5rem;
        max-width: 50rem;
    }
    .form-group {
        margin-bottom: 2rem;
    }
}
.alter-signin {
    padding-bottom: 2rem;
}
.alter-signin-button {
    width: 100%;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    color: #fff !important;
    padding: 1rem 2rem;
    margin-bottom: 0.5rem;
    span {
        width: 100%;
        flex-shrink: 1;
        text-align: center;
        font-weight: 600;
        font-size: 0.75rem;
    }
    i {
        font-size: 2rem;
    }

    &.fb {
        background-color: #507cc0;
    }
    &.google {
        background-color: #f54623;
    }
    &.twitter {
        background-color: #64ccf1;
    }
}