.suggested-board {
    &-headline {
        border: 1px solid #50b6e3;
        text-align: center;
        padding: 0.5rem 2rem; 
        font-weight: 700;
        font-size: 1rem;
        color: #000000;
        margin-top: 1rem;
    }
    &-list {
        padding: 1rem 0;
    }
    &-item {
        display: flex;
        padding: 0.5rem 0;
        text-decoration: none !important;
        &:hover {
            .name {
                text-decoration: underline;
            }
        }
    }
    &-image {
        width: 2.6rem;
        height: 3.5rem;
        margin-right: 1rem;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &-body {
        .name {
            margin-top: 0.25rem;
            font-size: 1rem;
            font-weight: 600;
            color: #000000;
        }
        .info-value {
            font-size: 1rem;
            font-weight: 400;
            color: #9b9b9b;
        }
    }
}