.counter {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #9b9b9b;
    font-weight: 600;
    font-size: 1rem;
}

.textarea-trakced textarea {
    min-height: 10rem;
    resize: none;
}