.user-info-board {
    .head-block {
        text-justify: inter-word;
        padding: 1rem 1.5rem;
        .username {
            font-size: 1.25rem;
            font-weight: 600;
            color: #000000;
            &:before {
                content: '@';
                display: inline-block;
            }
        }
        .balance {
            margin-left: 1.5rem;
            font-weight: 600;
            font-size: 1.25rem;
            text-transform: uppercase;
            color: #50b6e3;
            &:after {
                margin-left: 0.5rem;
                content: ' AHA';
                display: inline-block;
            }
        }
    }
    .block {
        border-top: 1px solid #d8d8d8;
        padding: 0.5rem 1.5rem 0.5rem 2.5rem;
        &-row {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
        &-label {
            font-size: 1.25rem;
            font-weight: 600;
            color: #50b6e3;
        }
        &-value {
            margin-left: 1.5rem;
            float: right;
            color: #000000;
            font-size: 1.25rem;
            font-weight: 600;
        }
    }
}