@import url('https://fonts.googleapis.com/css?family=Exo:300,400,500,700,800,900');

//variables
$black: #212121;
$yellow: #f3ce0b;

%orange-glow {
    color: #f38d0b;
    text-shadow: 0 -1px 5px $yellow;
}

html, body {
    width: 100%;
    font-size: 16px;
    font-family: 'Exo', sans-serif;
}

.bg-dark {
    background-color: $black !important;
    color: $yellow;
}
.bg-yellow {
    background-image: linear-gradient(180deg,rgba(243, 206, 11, .91),rgba(243, 206, 11, .91)), url("/images/magic.jpg");
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
}

.content {
    max-width: 56rem;
    margin: 0 auto;
    min-height: 800px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}
p {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: justify;
}

h1 {
    color: #f3ce0b;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.teaser {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        color: #f3ce0b;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }
}

.bulb {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.countdown {
    @extend %orange-glow;
    font-size: 30px;
    font-weight: 400;
    display:  flex;
    justify-content: center;
    span {
        padding: 0 20px;
    }
}

.form-group {
    display: flex;
    justify-content: center;
    input[type='text'] {
        max-width: 460px;
        width: 100%;
        border: 1px solid #f3ce0b;
        background-color: transparent;
        margin: 0;
    }
    input[type='submit'] {
        border: 1px solid #f3ce0b;
        background-color: transparent;
        font-family: Exo, sans-serif;
        color: #f3ce0b;
        border-radius: 0;
    }
}

.card {
    background-color: transparent;
    border: none;
    .card-ico{
        font-size: 50px;
        text-align: center;
    }
    .card-body {
        p {
            font-weight: 700;
            font-size: 14px;
        }
    }
}

.social {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    @include media-breakpoint-up(sm) {
        bottom: 24px
    }
    a {
        color: $black !important;
        text-decoration: none !important;
        font-size: 24px;
        padding: 8px;
    }
}