.btn {
    box-shadow: none;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.25s ease-in-out;

    &.btn-primary {
        box-shadow: none !important;
        color: #ffffff;
        background-color: #50b6e3;
        border: 2px solid #50b6e3;
        &:hover,&:focus, &:active, &:disabled {
            background-color: transparent !important;
            color: #50b6e3 !important;
            border-color: #50b6e3 !important;
        }
    }
    &.btn-secondary {
        box-shadow: inset none !important;
        color: #50b6e3;
        background-color: #ffffff;
        border: 2px solid #ffffff;
        &:hover,&:focus, &:active, &:disabled {
            background-color: transparent !important;
            color: #ffffff !important;
            border-color: #fff !important;
        }
    }
    &.btn-reversed {
        box-shadow: none !important;
        border: 1px solid #50b6e3;
        background-color: transparent !important;
        color: #50b6e3;
        &:hover,&:focus, &:active, &:disabled {
            background-color: #50b6e3 !important;
            color: #ffffff !important;
            border-color: #50b6e3 !important;
        }
    }
}

