.form-control {
    box-shadow: 0 1px 1px #d8d8d8 !important;
    border: 1px solid #d8d8d8 !important;
    padding: 0 1.5rem !important;
    height: 3rem !important;
    font-weight: 600;
    color: black !important;
    border-radius: 1.5rem;

   

    &:placeholder {
        color: #9b9b9b !important;
    }

    &.has-error {
        border-color: #f54623 !important;
    }
}

[contentEditable=true].form-control:empty:not(:focus):before {
  content:attr(data-placeholder);
  color: #9b9b9b !important;
}

.error {
    display: block;
    width: 100%;
    text-align: right;
    font-weight: 400;
    color: #f54623;
}
textarea.form-control {
    padding: 1.5rem !important;
}



.form-check {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .form-check .form-check-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    left: -2rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    border: 1px solid #979797;
    border-radius: 0.5rem;
  }
  
  /* On mouse-over, add a grey background color */
  .form-check:hover .form-check-input ~ .checkmark {
    background-color: #eee;
  }
  
//   /* When the checkbox is checked, add a blue background */
//   .form-check .form-check-input:checked ~ .checkmark {
//     background-color: #2196F3;
//   }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .form-check .form-check-input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .form-check .checkmark:after {
    left: 8px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


.input-date-row {
  display: flex;
  justify-content: space-between;
  .form-control {
    text-align: center;
    padding-left: .75rem !important;
    padding-right: 0.75rem !important;
  } 
  .form-control:nth-child(1) {
    width: 5rem;
  }
  .form-control:nth-child(2) {
    width: 5rem;
  }
  .form-control:nth-child(3) {
    width: 6rem;
  }
}