@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,900&subset=latin-ext');

html, body {
    width: 100%;
}
html {
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
}
body {
    min-height: 100%;
}

body {
    font-family: "Muli";
    font-size: 16px !important;
    color: #000000 !important;
    background-color: #50b6e3 !important;
}

.blue-on-white {
    background-color: #fff;
    color: #50b6e3;
}

.white-on-blue {
    background-color: #50b6e3;
    color: #fff;
}

.loader {
    min-height: 12.5rem;
    position: relative;
    &.empty {
        min-height: 0;
        width: 4rem;
        height: 4rem;
    }
    &.page {
        min-height: 60vh;
    }
    &:empty {
        &:after {
            position: absolute;
            bottom: 50%;
            right: 50%;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 0.5rem solid #e4e4e4;
            border-top-color: #c2c2c2;
            animation:spin 4s linear infinite;
    
            display: block;
            content: '';
        }
    }
}

.text-decoration-none {
    text-decoration: none !important;
}

.card {
    border-radius: 0;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 1px 20px #d8d8d8;
}

.white-background {
    background-color: #ffffff !important;
}

.gray-background {
    background-color: #f6f6f6 !important;
}

.app {
    padding-top: 5.5rem;
    // &::after {
    //     display: block;
    //     content: '0';
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     z-index: -10;

    //     height: 100vh;
    //     max-height: 70vh;

    //     border-style: solid;
    //     border-width: 0 100vw 10vw 0;
    //     border-color: transparent #50b6e3 transparent transparent;
    // }
}

.no-scroll {
    overflow: hidden;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: -5;
    img {
        width: 100%;
    }
    .uni {
        width: 100%;
        height: 100%;
        background-color: #d8d8d8;
    }
    &::after {
        display: block;
        content: '0';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        height: 100vh;
        max-height: 45vh;

        border-style: solid;
        border-width: 8vw 0 0 100vw;
        border-color: transparent transparent transparent #fff;
    }
    .background-title {
        position: absolute;
        bottom: 2vh;
        right: 5vw;
        font-weight: 700;
        font-size: 6rem;
        z-index: 1;
    }
}

.w-100 {
    width: 100%;
}