.layout {
    &-common {
        display: flex;
        > [class*='col-'] {
            padding: 1rem;
            width: 100%;
        }
        .col-info {
            flex: 1 1 33%;
            margin-top: 4rem;
        }
        .col-posts {
            width: 100%;
            max-width: 41rem;
            flex-grow: 0;
            flex-shrink: 0;
        }
        .col-info {
            flex: 1 1 33%;
        }
    }
}